
@import "HeaderViewCSS.css";
@import "FooterViewCSS.css";
@import "IncrementDecrementButtonsCSS.css";

.productImage img {
    width: 480px;
}


@media only screen and (min-width: 1367px) {

    div.container {
        margin: 80px auto 240px;
    }
}

@media only screen and (max-width: 1366px) {

    div.container {
        margin: 10px auto 50px;
    }
}