
@import "HeaderViewCSS.css";
@import "FooterViewCSS.css";
@import "IncrementDecrementButtonsCSS.css";

.buttonsPosition div{
    margin:auto;
}

div.container {
    margin: 50px auto 200px;
}

.empty_trash_container {
    margin: 50px auto 200px auto;
    border-style: dashed;
}

.cart_image {
    width: 100px;
    height: 100px;
}