
@import "HeaderViewCSS.css";
@import "FooterViewCSS.css";
@import "IncrementDecrementButtonsCSS.css";

.buttonsPosition div{
    margin:auto;
}

.empty_trash_container {
    margin: 50px auto 200px auto;
    border-style: dashed;
}

.cart_image {
    width: 100px;
    height: 100px;
}


@media only screen and (min-width: 1367px) {

    div.container {
        margin: 80px auto 200px;
    }
}

@media only screen and (max-width: 1366px) {

    div.container {
        margin: 10px auto 40px;
    }
}