.media span, .footer-services a, .footer-copyright, .footer-copyright a {
    color: white;
    padding: 10px;
    text-decoration: none;
 }
.media span:hover, .footer-services a:hover, .footer-copyright a:hover {
    opacity: 0.5;
    color: white;
    text-decoration: none;
}