
.addRemoveButtons {
    width: 150px;
}

div.productQuantityText {
     width: 103px;
     text-align: center;
     font-size: 18px;
 }

.decrementQuantity:hover, .incrementQuantity:hover {
    background: #000;
}