
@import "AddRetrieveButtonsCSS.css";

.productImage img {
    width: 240px;
    border : 1px solid;
}

.productImage img:hover {
    box-shadow: 4px 3px 10px #6c757d;
    transition-duration: 0.5s;
}

div.listedProduct:hover {
    transform: translate(-1px,-1px);
    transition-duration: 0.3s;
    box-shadow: 4px 3px 10px #6c757d;
}