
@import "HeaderViewCSS.css";
@import "FooterViewCSS.css";

div.list-group-item {
    height: 55px;
}

.list-group-item div:first-child {
    width: 120px;
}

div.container {
    margin: 80px auto 220px;
}