
@import "CartElementPopoverCSS.css";

.popover-link a, .logoLink a {
    text-decoration: none;
    color: white;
}

.popover-link a:hover, .logoLink a:hover {
    opacity: 0.5;
    text-decoration: none;
    color: white;
}

div.popover-body {
    overflow: auto;
    max-height: 275px;
    max-width: 280px;
}